@use "/src/scss/base/base";
@use "/src/scss/components/mixins";
@use "/src/scss/base/animations";

section {
    padding: 3rem 4rem;

    h1 {
        font-size: base.$font-size-headerh1;
        color: white;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: base.$font-size-h2;
        color: white;
        margin-bottom: 2rem;
    }
}

.search-container {
    display: none;

    .search-results {

        p {
            color: white;
        }
    }
}

.green-text {
    color: base.$color-primary-green;
}

#display-watchlist,
.movie-cards {
    display: flex !important;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}


.movie-card {
    @include mixins.movie-card(170px, 255px, 40px);
    flex: 0 0 auto;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.9s ease forwards;
}

.movie-card:nth-child(1) {
    animation-delay: 0.05s;
}

.movie-card:nth-child(2) {
    animation-delay: 0.1s;
}

.movie-card:nth-child(3) {
    animation-delay: 0.15s;
}

.movie-card:nth-child(4) {
    animation-delay: 0.2s;
}

.movie-card:nth-child(5) {
    animation-delay: 0.25s;
}

.movie-card:nth-child(6) {
    animation-delay: 0.3s;
}

.movie-card:nth-child(7) {
    animation-delay: 0.35s;
}

.movie-card::after {
    content: "";
    position: absolute;
    height: 101%;
    width: 102%;
    border-radius: 30px;
    background: linear-gradient(to bottom right, #8CC640, #29AAE2);
    filter: blur(8px);
    z-index: -1;
}

.filter-row {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin-bottom: 3rem;
    margin-top: -1em;
}

.custom-select {
    position: relative;
    z-index: 1;
    max-width: fit-content;

    .options {
        display: none;
        position: absolute;
        z-index: -1;
        color: white;
        font-size: base.$font-size-buttons;
        background-color: base.$color-button-grey-opacity;

        top: 50%;
        width: 100%;

        padding-top: 1.8em;
        padding-bottom: 0.5em;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        .option {
            padding: 0.5em 1em;

            &:hover {
                background-color: base.$color-button-grey;
                cursor: pointer;
            }
        }
    }

    .options.open {
        display: block;

        .option.selected-option {
            background-color: base.$color-primary-green;
            color: black;
        }
    }
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: base.$color-primary-coral, $alpha: 0.7);

    .modal-content {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        overflow: auto;
        position: relative;

        width: 70%;
        height: 90%;
        margin: 2% auto;

        background-color: #000000;
        color: white;
        box-shadow: 3px 3px 20px black;

        .closeIcon {
            position: absolute;
            top: 25px;
            right: 25px;
            color: white;
            cursor: pointer;

        }

        .poster {
            grid-column: 1;
            grid-row: 1 / 3;
            height: 100;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .about {
            grid-column: 2;
            grid-row: 1;
            padding: 2rem;
            max-height: fit-content;

            .title-type {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 2rem;
                padding-right: 2rem;

                h2 {
                    font-size: base.$font-size-modalheader;
                }

                button {
                    background-color: base.$color-primary-coral;
                    padding: 0.4em 1em;
                    max-width: fit-content;
                    border: none;
                    border-radius: 15px;
                }

            }



            .sub-menu {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
                align-items: center;
                margin-bottom: 2rem;

                .submenu-items {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    align-items: center;
                }

                .submenuBtn {
                    padding: 0.3rem 0.7rem 0.3rem 0.5rem;
                    border-radius: 15px;
                    font-size: base.$font-size-buttons;

                    &:hover {
                        background-color: rgba(128, 128, 128, 0.514);
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(0.95);
                    }
                }

                span.star-icon {
                    color: base.$color-primary-green;
                }

                span.add-icon {
                    color: base.$color-primary-blue;
                }
            }

            .actors {
                display: flex;
                flex-wrap: wrap;
                gap: 0.7em;
                font-size: base.$font-size-smalltext;
                margin-top: 1rem;
            }
        }

        .trailer-container {
            display: none;
            grid-column: 2;
            grid-row: 2;
            padding: 0rem 2rem 0rem 2rem;
            width: 600px;
            height: 346px;

            h3 {
                margin-bottom: 1rem;
            }

            .video-wrapper {
                width: 100%;
                aspect-ratio: 16 / 9;
            }
        }

        .recommendations {
            grid-column: 2;
            grid-row: 2;
            display: flex;
            flex-direction: column;

            padding: 0rem 2rem 2rem 2rem;

            h3 {
                margin-bottom: 1rem;
            }

            .reco-cards {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                .reco-card {
                    @include mixins.movie-card(100px, 150px, 24px);
                }
            }
        }
    }

    .modal-content.show-trailer {
        grid-template-rows: auto auto auto;
    }

    .modal-content.show-trailer .trailer-container {
        display: block;
    }

    .modal-content.show-trailer .recommendations {
        grid-column: 1 / -1;
        grid-row: 3;
        margin-top: 2rem;

        .reco-cards {

            .reco-card {
                @include mixins.movie-card(130px, 195px, 28px);
            }
        }
    }
}

.modal-content::-webkit-scrollbar {
    width: 10px;
}

.modal-content::-webkit-scrollbar-track {
    background: #111;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #666;
}