@use "../base/base";

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
    max-height: fit-content;
    background-color: base.$color-primary-coral;
    padding: 0.8rem 5rem;

    label {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-self: center;
        align-content: center;
        max-width: fit-content;

        color: black;
        font-size: base.$font-size-header;

    }

    div {
        width: 60ch;
        align-content: center;
        position: relative;

        input {
            width: 100%;
            height: 2.5em;
            margin-right: 7rem;
            padding: 0.3em 1.2em 0.3em 3.5em;

            border: none;
            border-radius: 20px;

            font-family: base.$font;
            color: black;

        }
    }

    #search-icon {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .watchlist {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        align-items: center;
        width: 250px;

        border: none;
        border-radius: 20px;
        padding: 0.5rem 0.8rem;
        background-color: base.$color-primary-coral;

        color: black;
        font-size: base.$font-size-header;

        &:hover {
            cursor: pointer;
            background-color: base.$color-dark-coral;
        }
    }
}